.subscribe {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  background-color: pink;
  padding: 10px;
  text-align: center;
}
.subscribe span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}
.subscribe-form input,
.subscribe-form button {
  margin-bottom: 10px;
  font-size: 1.2em;
}
.subscribe-form input {
  text-align: center;
}

@media screen and (min-width: 986px) {
  .subscribe {
    left: 30vw;
    width: 40vw;
  }
}
