.shop{
    display: flex;
    flex-wrap: wrap;
}
.product{
    width: 250px ;
    max-width: 250px;
    padding-bottom: 10px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border:1px solid orangered ;
}
.product-name{
    margin: 0.4em;
    margin-bottom: auto;
    color: orangered;
    font-size: 2em;
    text-align: center;

}
.product-category{
    margin: 0;
    margin-top: 1em;
    font-size: 1.2em;
}
.product-price{
    margin: 0.8em;
    font-size: 2.5em;
}
.product-addtocart{
    background-color: orangered;
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border: none;
}